@charset "UTF-8";

/*Paleta de cores

cor 1: #304666
cor 2: #4F5866
cor 3: #547BB3
cor 4: #6D9FE6
cor 5: #B4CAEA

*/

:root{
    --cor1: #304666;
    --cor2: #4F5866;
    --cor3: #547BB3;
    --cor4: #6D9FE6;
    --cor5: #B4CAEA;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor4);
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width .3s, height .3s;
}
section#login > div#imagem{
    background: url(../imagens/pexels-mithul-varshan-3023211\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    display: block;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-top: 10px;
}
div#fomulario > p{
    font-size: 0.8em;

}

form > div.campo{
    background-color: var(--cor2);
    height: 30px;
    margin: 5px 0px;
    border-radius: 8px;
}
div.campo > label{
    display: none;
}
div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translateY(-6px);
}

div.campo > input{
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    border: 2px solid #4F5866;
    transform: translateY(-16px);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor1);
    color: white;
    margin-top: 5px;
    padding: 3px;
}
form > input[type=submit]:hover{
    background-color: #446392;
    border: 1px solid var(--cor1);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: var(--cor1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 3px;
    border: 1px solid var(--cor1);
}
form > a.botao:hover{
    background-color: #446392;
    border: 1px solid var(--cor1);
}
form > a.botao > i{
    font-size: .8em;
}